{% extends 'base.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <ul>
        {% for post in posts %}
            <li style="margin-top: 30px;">
                <h2><a style="color: black;" href="{{ post.url }}">{{ post.get_title() }}</a></h2>
                <p class="text-secondary" >{{ post.get_read_time() }} min read</p>
                {% if post.metadata['image'] %}
                <center><img alt="{{ ' '.join(post.metadata['keywords']) }}" class="img-thumbnail" src="{{ post.metadata['image'] }}" title="{{ ' '.join(post.metadata['keywords']) }}" /></center>
                <br>
                {% endif %}
                {{ post.get_excerpt() | safe }}
                <p class="text-secondary float-right" >{{ post.get_print_date() }}</p>
                <a href="{{ post.url }}">Read more...</a>
            </li>
        {% endfor %}
        </ul>

        <br>

          {% if has_previous %}
          {% if page_number-1 == 0 %}
          <p class="float-left" ><a href="{{ pagination_prefix }}">More recent...</a></p>
          {% else %}
          <p class="float-left" ><a href="{{ pagination_prefix }}page/{{ page_number-1 }}">More recent...</a></p>
          {% endif %}
          {% endif %}
          {% if has_next %}
          <p class="float-right" ><a href="{{ pagination_prefix }}page/{{ page_number+1 }}">Older content...</a></p>
          {% endif %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        {% include 'search.html' %}

        <!-- Side Widget -->
        {% if 'kubernetes' in post_metadata['keywords'] %}
        <div class="card my-4">
          <h5 class="card-header">Kubernetes:<br>container orchestration</h5>
          <div class="card-body">
            <center><img style="width: 100%;" src="https://static.pet2cattle.com/categories/kubernetes_small.jpg" alt="kubernetes"></center>
          </div>
        </div>
        {% elif 'terraform' in post_metadata['keywords'] %}
        <div class="card my-4">
          <h5 class="card-header">Terraform:<br>Infrastructure as Code</h5>
          <div class="card-body">
            <center><img style="width: 100%;" src="https://static.pet2cattle.com/categories/terraform_small.jpg" alt="terraform"></center>
          </div>
        </div>
        {% else %}
        <div class="card my-4">
          <h5 class="card-header">From pet to cattle</h5>
          <div class="card-body">
            Treat your kubernetes clusters like cattle, not pets
          </div>
        </div>
        {% endif %}

        {% if principal_related_posts %}
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for post in principal_related_posts %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% if other_related_posts %}
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for post in other_related_posts %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}

        {% if tag_cloud %}
        <div class="card my-4">
          <h5 class="card-header">cloud</h5>
          <div style="text-align: justify;" class="card-body">
            {% for key, data in tag_cloud.items() %}
                <span class="{{ data['size'] }}"><a class="text-dark" style="white-space: nowrap;" href="{{ data['url'] }}/">{{ key }}</a></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if cat2tag %}
        <div class="card my-4">
          <h5 class="card-header">tags related to this category</h5>
          <div style="text-align: justify;" class="card-body">
            {% for key, data in cat2tag.items() %}
                <span class="{{ data['size'] }}"><a class="text-dark" style="white-space: nowrap;" href="{{ data['url'] }}/">{{ key }}</a></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}

      </div>

    </div>
 
  </div>
  <!-- /.container -->
{% endblock %}