{% extends 'base.html' %}

{% block content %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <ul>
        {% for post in posts %}
            <li style="margin-top: 30px;">
                <h2><a style="color: black;" href="{{ post.url }}">{{ post.get_title() }}</a></h2>
                {{ post.get_excerpt() | safe }}
                <p class="text-secondary float-right" >{{ post.get_print_date() }}</p>
                <a href="{{ post.url }}">Read more...</a>
            </li>
        {% endfor %}
        </ul>

        <br>

          {% if has_previous %}
          {% if page_number-1 == 0 %}
          <p class="float-left" ><a href="{{ pagination_prefix }}">More recent...</a></p>
          {% else %}
          <p class="float-left" ><a href="{{ pagination_prefix }}page/{{ page_number-1 }}">More recent...</a></p>
          {% endif %}
          {% endif %}
          {% if has_next %}
          <p class="float-right" ><a href="{{ pagination_prefix }}page/{{ page_number+1 }}">Older content...</a></p>
          {% endif %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->

        <!-- Side Widget -->
        {% if 'kubernetes' in post_metadata['keywords'] %}
        <div class="card my-4">
          <h5 class="card-header">Kubernetes:<br>container orchestration</h5>
          <div class="card-body">
            <center><img style="width: 100%;" src="/static/categories/kubernetes_small.jpg" alt="kubernetes"></center>
          </div>
        </div>
        {% else %}
        <div class="card my-4">
          <h5 class="card-header">From pet to cattle</h5>
          <div class="card-body">
            Treat your kubernetes clusters like cattle, not pets
          </div>
        </div>
        {% endif %}

        {% if tag_cloud %}
        <div class="card my-4">
          <h5 class="card-header">cloud</h5>
          <div style="text-align: justify;" class="card-body">
            {% for key, data in tag_cloud.items() %}
                <span class="{{ data['size'] }}"><a class="text-dark" style="white-space: nowrap;" href="{{ data['url'] }}/">{{ key }}</a></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {% if cat2tag %}
        <div class="card my-4">
          <h5 class="card-header">tags related to this category</h5>
          <div style="text-align: justify;" class="card-body">
            {% for key, data in cat2tag.items() %}
                <span class="{{ data['size'] }}"><a class="text-dark" style="white-space: nowrap;" href="{{ data['url'] }}/">{{ key }}</a></span>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <!-- Categories Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->

      </div>

    </div>
 
  </div>
  <!-- /.container -->
{% endblock %}