{% extends 'base.html' %}

{% block content %}

<script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>
<script>

async function main() {
  let pyodide = await loadPyodide({
    indexURL : "https://cdn.jsdelivr.net/pyodide/v0.20.0/full/"
  });
  btn = document.getElementById("runbutton")
  btn.disabled = false;
  btn.innerHTML = "Run";
  return pyodide
};

async function loadCode() {
  let response = await fetch('https://raw.githubusercontent.com/pet2cattle/python-k8s2crd/main/main.py');
  let data = await response.text();

  return data
}

btn = document.getElementById("runbutton")
btn.disabled = true;

// run the main function
let pyodideReadyPromise = main();
let codeReadyPromise = loadCode();

// pass the editor value to the pyodide.runPython function and show the result in the output section
async function evaluatePython() {
  let pyodide = await pyodideReadyPromise;
  let code = await codeReadyPromise;
  await pyodide.loadPackage("https://files.pythonhosted.org/packages/97/14/8cc336ce44a1e9ab029e56ddcdfcf8803537cb6f494f7f813a74b4e7b66f/pureyaml-0.1.0-py2.py3-none-any.whl");
  await pyodide.loadPackage("future");
  await pyodide.loadPackage("https://files.pythonhosted.org/packages/a3/58/35da89ee790598a0700ea49b2a66594140f44dec458c07e8e3d4979137fc/ply-3.11-py2.py3-none-any.whl");
  

  input = document.getElementById("input");
  output = document.getElementById("output");
  output.value = ''
  try {
    runCode = 'input_str = """'+ input.value + '\n"""'
    + "\n" + code + "\noutput"
    console.log(runCode);
    await pyodide.loadPackagesFromImports(runCode);
    output.value = pyodide.runPython(runCode);
  } catch (err) {
    output.value = err;
  }
  document.getElementById("output").scrollIntoView();
}

</script>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <h1>Generate CRD definition</h1>

        Paste a sample object and then click <b>Run</b> to generate a <b>CRD definition</b> compatible with the sample object you provided:

        <br><br>

        <textarea id="input" name="input" style="width: 100%;" rows="24"></textarea>
        
        <br /><br />
        
        <button id="runbutton" name="runbutton" onclick="evaluatePython()" disabled >LOADING...</button>
        
        <br /><br />

        <div>Output:</div>
        <textarea id="output" name="output" style="width: 100%;" rows="24s" readonly></textarea>
    
        <hr>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        {% include 'search.html' %}

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for keyword in keywords %}
                  <li>
                    {{ keyword }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div> -->

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}